<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Category">
	<!-- 根据id查询 -->
	<select id="queryById" resultType="Category">
		select * from category where id = #{id}
	</select>
	<!-- 新增 -->
	<insert id="add" parameterType="Category">
		insert into Category(name) values(#{name})
		<selectKey resultType="int" keyProperty="id" order="AFTER">
			select last_insert_id() as id
		</selectKey>
	</insert>
	<!-- 根据id删除 -->
	<delete id="deleteById">
		delete from Category where id = #{id}
	</delete>
	<!-- 查询所有 -->
	<select id="queryAll" resultType="Category">
		select * from Category order by id
	</select>
	<!-- 分页查询 -->
	<select id="queryByPage" parameterType="map" resultType="Category">
		select * from Category order by id limit #{start},#{pageSize}
	</select>
	<!-- 总记录数 -->
	<select id="getTotals" resultType="int">
		select count(*) from Category
	</select>
	<!-- 修改 -->
	<update id="update" parameterType="Category">
		update Category 
		<trim prefix="set" suffixOverrides=",">
			<if test="name!=null and name!=''">
				name = #{name},
			</if>
		</trim>
		where id = #{id}
		<!-- update Category set username = #{username},password = #{password} where id = #{id} -->
	</update>
</mapper>